#
# Prerequisites:
#   (*) Ensure you are running from a folder that contains the helmfile.d folder
#
# Usage:
#   (*) Install: helmfile sync
#     Ensure the following:
#       1. Define an environment variable as follows:
#         Name: AS360_KNI_JSON_CONFIG_AS_BASE64
#         Value: The designated registry docker config file, encoded in Base64
#         Name: SCA_AUTOUPDATER_REGISTRY_ADDRESS
#         Value: The address of the registry to be used by the SCA AutoUpdater. 
#         This variable is OPTIONAL and  only needed needed only if you want the auto-updater feature to be enabled.
#         Name: SCA_AUTOUPDATER_REGISTRY_USERNAME
#         Value: The username of the registry to be used by the SCA AutoUpdater.
#         This variable is OPTIONAL and needed only if you want the auto-updater feature to be enabled.
#         Name: SCA_AUTOUPDATER_REGISTRY_PASSWORD
#         Value: The password of the registry to be used by the SCA AutoUpdater.
#         This variable is OPTIONAL and needed only if you want the auto-updater feature to be enabled.
#       2. Values for the below variables are a pre-requisite and needs to be populated in helmfile.d/scaKit.yaml:
#         Name: requestedCapacity
#         Value: The customer's K8S shared storage designated size, to be calculated before installation
#         Name: storageClassName
#         Value: The customer's K8S shared storage designated file path
#         Name: ConnectionStrings__ScaEngineDatabase
#         Value: The connection string for the SCA Engine database
#         Name: ConnectionStrings__ScaAggregationDB
#         Value: The connection string for the SCA Aggregate database
#
#   (*) Uninstall: helmfile destroy
#
environments:
  default:
    values:
    - helmFileCustomizations/singular-singular.clusterKit.yaml
    - global:
        multiTenantDeploymentDifferentiator: ''
        runtime:
          siteName: singular
          clusterName: singular
    - environment:
        helmRepositoryName: hclcr
        helmRepositoryContext: appscan360/as360-k8s-helm-packages
        releaseName: appscan360-sca
        releaseNamespace: hcl-appscan-sca
        ascpNamespace: hcl-appscan-ascp
        dockerRegistryAddress: hclcr.io
        dockerRegistryContext: "appscan360/as360-k8s-docker-images"
        autoupdaterImageTag: "newest-build-2.2.0"
        autoscaling: "false"
---
helmDefaults:
  cleanupOnFail: true
  wait: true
  waitForJobs: true
  atomic: true
  timeout: 1200
  createNamespace: true
  #deleteWait: true

repositories:
- name: hclcr
  url: hclcr.io
  oci: true
---

{{- $helmRepoRegistry := default "" -}}
{{- $helmRepoContext := default "" -}}

{{- if hasKey .Values.global "helm" }}
  {{- $helmRepoRegistry = .Values.global.helm.package.registry | default $helmRepoRegistry -}}
  {{- $helmRepoContext = .Values.global.helm.package.context | default $helmRepoContext -}}
{{- end }}

{{- $openTelemetryEndpoint := default "" -}}
{{- $openTelemetryEnable := default "false" -}}
{{- $openTelemetryEnableLogs := default "false" -}}
{{- $openTelemetryEnableMetrics := default "false" -}}

{{- if hasKey .Values.global.configuration "disclosed" }}
  {{- $openTelemetryEndpoint = .Values.global.configuration.disclosed.openTelemetryEndpoint | default $openTelemetryEndpoint -}}
  {{- $openTelemetryEnableLogs = .Values.global.configuration.disclosed.openTelemetryEnableLogs | default $openTelemetryEnableLogs -}}
  {{- $openTelemetryEnableMetrics = .Values.global.configuration.disclosed.openTelemetryEnableMetrics | default $openTelemetryEnableMetrics -}}
  {{- if not (empty $openTelemetryEndpoint) }}
    {{- $openTelemetryEnable = "true" -}}
  {{- else }}
    {{- $openTelemetryEnableMetrics = "false" -}}
  {{- end }}
{{- end }}





releases:
- name: 'scaservices'
  namespace: '{{ .Namespace | default .Values.environment.releaseNamespace }}'
  hooks:
    - events: ["preuninstall"]
      command: "sh"
      args:
        - "-c"
        - |
          echo "Patching CRDs to remove finalizers and performing cleanup tasks before uninstall..."
          # Delete multiple CRDs
          kubectl patch crd scaledobjects.keda.sh -n '{{ .Namespace | default .Values.environment.releaseNamespace }}' -p '{"metadata":{"finalizers":[]}}' --type=merge || true

          # Patch a resource before removal (example: remove finalizers)
          kubectl delete scaledobject --all -n '{{ .Namespace | default .Values.environment.releaseNamespace }}' || true

    - events: ["postuninstall"]
      command: "sh"
      args:
        - "-c"
        - |
          echo "Patching CRDs to remove finalizers and performing cleanup namespace tasks..."
          kubectl patch crd triggerauthentications.keda.sh -n '{{ .Namespace | default .Values.environment.releaseNamespace }}' -p '{"metadata":{"finalizers":[]}}' --type=merge || true
          kubectl patch crd imageupdaters.argocd-image-updater.argoproj.io -n '{{ .Namespace | default .Values.environment.releaseNamespace }}' -p '{"metadata":{"finalizers":[]}}' --type=merge || true
          # Run any other cleanup commands
          kubectl delete namespace '{{ .Namespace | default .Values.environment.releaseNamespace }}' --ignore-not-found=true

{{- if not (empty $helmRepoRegistry) }}
  chart: oci://{{ $helmRepoRegistry }}/{{ $helmRepoContext }}/scadeployment
{{- else }}
  chart: "{{ .Values.environment.helmRepositoryName }}/{{ .Values.environment.helmRepositoryContext }}/scadeployment"
{{- end }}

  version: '2.2.0-20260715110755730-fed-release-rhel-ubi-9'
  values:
  - helmFileCustomizations/{{ .Values.global.runtime.siteName }}-{{ .Values.global.runtime.clusterName }}.clusterKit.yaml
  - global:
      ca:
        intermediate:
          enabled: false
        seed:
          enabled: false

      customer:
        certificate:
          ca:
            # CUSTOMIZE_ME:
            # Indication whether to use customer given CA certificates, or not
            enabled: false
          ingress:
            # CUSTOMIZE_ME:
            # Indication whether to use a customer given certificate as the applicable external (out-of-cluster) micro services ingresses certificates, or not
            enabled: false

      workload:
        container:
          image:
{{- if not (empty $helmRepoRegistry) }}
            registry: {{ .Values.global.workload.container.image.registry }}
            repository: {{ .Values.global.workload.container.image.repository }}
{{- else }}
            registry: {{ .Values.environment.dockerRegistryAddress }}
            repository: {{ .Values.environment.dockerRegistryContext }}
{{- end }}

            pullSecrets:
            - sca-docker-registry-secret
        dockerPrivateRegistry:
          secret:
            data:
{{- if env "AS360_KNI_JSON_CONFIG_AS_BASE64" }}
              jsonConfigAsBase64: {{ env "AS360_KNI_JSON_CONFIG_AS_BASE64" }}
              jsonConfigAsBase64Harbor: {{ env "AS360_KNI_JSON_CONFIG_AS_BASE64" }}
{{- else }}
              jsonConfigAsBase64: {{ readFile (printf "%s/%s" (env "HOME") ".docker/config.json") | b64enc }}
              jsonConfigAsBase64Harbor: {{ readFile (printf "%s/%s" (env "HOME") ".docker/config.json") | b64enc }}
{{- end }}
  - rabbitmq:
      image:
{{- if not (empty $helmRepoRegistry) }}
        registry: {{ .Values.global.workload.container.image.registry }}
        repository: {{ .Values.global.workload.container.image.repository }}/bitnami/rabbitmq
{{- else }}
        registry: {{ .Values.environment.dockerRegistryAddress }}
        repository: {{ .Values.environment.dockerRegistryContext }}/bitnami/rabbitmq
{{- end }}
        tag: 4.2.2-debian-12-r1-p180

        pullSecrets:
          - sca-docker-registry-secret
      volumePermissions:
        image:
          pullSecrets:
            - sca-docker-registry-secret

  - scadpr:
      common:
        dockerPrivateRegistry:
          secret:
            enabled: false
            helmenabled: true
  - argo-cd:
      global:
        image:
{{- if not (empty $helmRepoRegistry) }}
          repository: {{ .Values.global.workload.container.image.registry }}/{{ .Values.global.workload.container.image.repository }}/quay.io/argoproj/argocd
{{- else }}
          repository: {{ .Values.environment.dockerRegistryAddress }}/{{ .Values.environment.dockerRegistryContext }}/quay.io/argoproj/argocd
{{- end }}
          tag: "v3.4.2-p180"

        imagePullSecrets:
        - name: sca-docker-registry-secret
      dex:
        image:
{{- if not (empty $helmRepoRegistry) }}
          repository: {{ .Values.global.workload.container.image.registry }}/{{ .Values.global.workload.container.image.repository }}/ghcr.io/dexidp/dex
{{- else }}
          repository: {{ .Values.environment.dockerRegistryAddress }}/{{ .Values.environment.dockerRegistryContext }}/ghcr.io/dexidp/dex
{{- end }}
          tag: v2.45.1

        imagePullSecrets:
        - name: sca-docker-registry-secret
      redis:
        enabled: true
        image:
{{- if not (empty $helmRepoRegistry) }}
          repository: {{ .Values.global.workload.container.image.registry }}/{{ .Values.global.workload.container.image.repository }}/public.ecr.aws/docker/library/redis
{{- else }}
          repository: {{ .Values.environment.dockerRegistryAddress }}/{{ .Values.environment.dockerRegistryContext }}/public.ecr.aws/docker/library/redis
{{- end }}
          tag: 8.2.2-alpine-p180

        imagePullSecrets:
        - name: sca-docker-registry-secret
        exporter:
          image:
{{- if not (empty $helmRepoRegistry) }}
            repository: {{ .Values.global.workload.container.image.registry }}/{{ .Values.global.workload.container.image.repository }}/ghcr.io/oliver006/redis_exporter
{{- else }}
            repository: {{ .Values.environment.dockerRegistryAddress }}/{{ .Values.environment.dockerRegistryContext }}/ghcr.io/oliver006/redis_exporter
{{- end }}
            tag: 8.2.2-alpine-p180

          imagePullSecrets:
          - name: sca-docker-registry-secret
      redis-ha:
        image:
{{- if not (empty $helmRepoRegistry) }}
          repository: {{ .Values.global.workload.container.image.registry }}/{{ .Values.global.workload.container.image.repository }}/public.ecr.aws/docker/library/redis
{{- else }}
          repository: {{ .Values.environment.dockerRegistryAddress }}/{{ .Values.environment.dockerRegistryContext }}/public.ecr.aws/docker/library/redis
{{- end }}

        imagePullSecrets:
        - name: sca-docker-registry-secret
      redisSecretInit:
        enabled: true
        containerSecurityContext:
          runAsUser: 1001
        imagePullSecrets:
        - name: sca-docker-registry-secret
      controller:
        imagePullSecrets:
        - name: sca-docker-registry-secret
  - argocd-image-updater:
      image:
{{- if not (empty $helmRepoRegistry) }}
        repository: {{ .Values.global.workload.container.image.registry }}/{{ .Values.global.workload.container.image.repository }}/quay.io/argoprojlabs/argocd-image-updater
{{- else }}
        repository: {{ .Values.environment.dockerRegistryAddress }}/{{ .Values.environment.dockerRegistryContext }}/quay.io/argoprojlabs/argocd-image-updater
{{- end }}
        tag: "v1.1.2-p180"

      imagePullSecrets:
      - name: sca-docker-registry-secret
      config:
        registries:
          - name: sca180acr
{{- if not (empty $helmRepoRegistry) }}
            api_url: http://{{ env "SCA_AUTOUPDATER_REGISTRY_ADDRESS" | default .Values.global.workload.container.image.registry }}
            prefix: {{ env "SCA_AUTOUPDATER_REGISTRY_ADDRESS" | default .Values.global.workload.container.image.registry }}
{{- else }}
            api_url: {{ env "SCA_AUTOUPDATER_REGISTRY_ADDRESS" | default .Values.environment.dockerRegistryAddress }}
            prefix: {{ env "SCA_AUTOUPDATER_REGISTRY_ADDRESS" | default .Values.environment.dockerRegistryAddress }}
{{- end }}
            defaultns: '{{ .Namespace | default .Values.environment.releaseNamespace }}'
            default: true
            insecure: true
            credentials: pullsecret:{{ .Namespace | default .Values.environment.releaseNamespace }}/sca-harbor-registry-secret

  - scaengineasocintegratorapi:
      common:
        workload:
          volumesAndMounts:
            mountAppSelfIdentityCertificateSecret: false
            mountCustomerCaCertificatesSecret: false
        ascpNamespace: '{{ .Namespace | default .Values.environment.ascpNamespace }}'
        keda:
          enabled: {{ .Values.environment.autoscaling | default "false"}}
        scaservicesecretexternal:
          EncryptionConfiguration__EncryptionKey: "Q3OIv0nz2lApjRM/SVuk9QQ9fwJ0WYYx"
        scaserviceenv:
          TelemetryConfiguration__Enabled: {{ $openTelemetryEnable }}
          LoggingConfiguration__EnableOtlpLogging: {{ $openTelemetryEnableLogs }}
          TelemetryConfiguration__MetricsEnabled: {{ $openTelemetryEnableMetrics }}
          TelemetryConfiguration__Otlp__Endpoint: {{ $openTelemetryEndpoint }}
          TelemetryConfiguration__ServiceName: "Engine.AsocIntegratorAPI"
          TelemetryConfiguration__AspNetCoreInstrumentationEnabled: {{ $openTelemetryEnable }}
          TelemetryConfiguration__HttpClientInstrumentationEnabled: {{ $openTelemetryEnable }}
          TelemetryConfiguration__Otlp__Enabled: {{ $openTelemetryEnable }}
          TelemetryConfiguration__Console__Enabled: {{ $openTelemetryEnable }}

  - scaenginescanmonitorapi:
      common:
        ascpNamespace: '{{ .Namespace | default .Values.environment.ascpNamespace }}'
        keda:
          enabled: {{ .Values.environment.autoscaling | default "false"}}
        scaserviceenv:
          TelemetryConfiguration__Enabled: {{ $openTelemetryEnable }}
          LoggingConfiguration__EnableOtlpLogging: {{ $openTelemetryEnableLogs }}
          TelemetryConfiguration__MetricsEnabled: {{ $openTelemetryEnableMetrics }}
          TelemetryConfiguration__Otlp__Endpoint: {{ $openTelemetryEndpoint }}
          TelemetryConfiguration__ServiceName: "Engine.ScanMonitorAPI"
          TelemetryConfiguration__AspNetCoreInstrumentationEnabled: {{ $openTelemetryEnable }}
          TelemetryConfiguration__HttpClientInstrumentationEnabled: {{ $openTelemetryEnable }}
          TelemetryConfiguration__Otlp__Enabled: {{ $openTelemetryEnable }}
          TelemetryConfiguration__Console__Enabled: {{ $openTelemetryEnable }}

  - scaenginefetchcve:
      common:
        ascpNamespace: '{{ .Namespace | default .Values.environment.ascpNamespace }}'
        keda:
          enabled: {{ .Values.environment.autoscaling | default "false"}}
        scaserviceenv:
          TelemetryConfiguration__Enabled: {{ $openTelemetryEnable }}
          LoggingConfiguration__EnableOtlpLogging: {{ $openTelemetryEnableLogs }}
          TelemetryConfiguration__MetricsEnabled: {{ $openTelemetryEnableMetrics }}
          TelemetryConfiguration__Otlp__Endpoint: {{ $openTelemetryEndpoint }}
          TelemetryConfiguration__ServiceName: "Engine.FetchCve"
          TelemetryConfiguration__AspNetCoreInstrumentationEnabled: {{ $openTelemetryEnable }}
          TelemetryConfiguration__HttpClientInstrumentationEnabled: {{ $openTelemetryEnable }}
          TelemetryConfiguration__Otlp__Enabled: {{ $openTelemetryEnable }}
          TelemetryConfiguration__Console__Enabled: {{ $openTelemetryEnable }}

  - scaenginescanapi:
      common:
        workload:
          volumesAndMounts:
            mountAppSelfIdentityCertificateSecret: false
            mountCustomerCaCertificatesSecret: false
        scaascptrigger:
          enabled: false
        ascpNamespace: '{{ .Namespace | default .Values.environment.ascpNamespace }}'
        scaservicesecretexternal:
          EncryptionConfiguration__EncryptionKey: "Q3OIv0nz2lApjRM/SVuk9QQ9fwJ0WYYx"
        keda:
          enabled: {{ .Values.environment.autoscaling | default "false"}}
        scaserviceenv:
          TelemetryConfiguration__Enabled: {{ $openTelemetryEnable }}
          LoggingConfiguration__EnableOtlpLogging: {{ $openTelemetryEnableLogs }}
          TelemetryConfiguration__MetricsEnabled: {{ $openTelemetryEnableMetrics }}
          TelemetryConfiguration__Otlp__Endpoint: {{ $openTelemetryEndpoint }}
          TelemetryConfiguration__ServiceName: "Engine.ScanAPI"
          TelemetryConfiguration__AspNetCoreInstrumentationEnabled: {{ $openTelemetryEnable }}
          TelemetryConfiguration__HttpClientInstrumentationEnabled: {{ $openTelemetryEnable }}
          TelemetryConfiguration__Otlp__Enabled: {{ $openTelemetryEnable }}
          TelemetryConfiguration__Console__Enabled: {{ $openTelemetryEnable }}

  - scaenginescanconfig:
      common:
        ascpNamespace: '{{ .Namespace | default .Values.environment.ascpNamespace }}'
        keda:
          enabled: {{ .Values.environment.autoscaling | default "false"}}
        scaserviceenv:
          TelemetryConfiguration__Enabled: {{ $openTelemetryEnable }}
          LoggingConfiguration__EnableOtlpLogging: {{ $openTelemetryEnableLogs }}
          TelemetryConfiguration__MetricsEnabled: {{ $openTelemetryEnableMetrics }}
          TelemetryConfiguration__Otlp__Endpoint: {{ $openTelemetryEndpoint }}
          TelemetryConfiguration__ServiceName: "Engine.ScanConfig"
          TelemetryConfiguration__AspNetCoreInstrumentationEnabled: {{ $openTelemetryEnable }}
          TelemetryConfiguration__HttpClientInstrumentationEnabled: {{ $openTelemetryEnable }}
          TelemetryConfiguration__Otlp__Enabled: {{ $openTelemetryEnable }}
          TelemetryConfiguration__Console__Enabled: {{ $openTelemetryEnable }}

  - scaenginescanhash:
      common:
        ascpNamespace: '{{ .Namespace | default .Values.environment.ascpNamespace }}'
        keda:
          enabled: {{ .Values.environment.autoscaling | default "false"}}

  - scaenginescanpostprocessor:
      common:
        ascpNamespace: '{{ .Namespace | default .Values.environment.ascpNamespace }}'
        keda:
          enabled: {{ .Values.environment.autoscaling | default "false"}}
        scaserviceenv:
          TelemetryConfiguration__Enabled: {{ $openTelemetryEnable }}
          LoggingConfiguration__EnableOtlpLogging: {{ $openTelemetryEnableLogs }}
          TelemetryConfiguration__MetricsEnabled: {{ $openTelemetryEnableMetrics }}
          TelemetryConfiguration__Otlp__Endpoint: {{ $openTelemetryEndpoint }}
          TelemetryConfiguration__ServiceName: "Engine.ScanPostProcessor"
          TelemetryConfiguration__AspNetCoreInstrumentationEnabled: {{ $openTelemetryEnable }}
          TelemetryConfiguration__HttpClientInstrumentationEnabled: {{ $openTelemetryEnable }}
          TelemetryConfiguration__Otlp__Enabled: {{ $openTelemetryEnable }}
          TelemetryConfiguration__Console__Enabled: {{ $openTelemetryEnable }}

  - scaenginescanpreprocessor:
      common:
        ascpNamespace: '{{ .Namespace | default .Values.environment.ascpNamespace }}'
        keda:
          enabled: {{ .Values.environment.autoscaling | default "false"}}
        scaserviceenv:
          TelemetryConfiguration__Enabled: {{ $openTelemetryEnable }}
          LoggingConfiguration__EnableOtlpLogging: {{ $openTelemetryEnableLogs }}
          TelemetryConfiguration__MetricsEnabled: {{ $openTelemetryEnableMetrics }}
          TelemetryConfiguration__Otlp__Endpoint: {{ $openTelemetryEndpoint }}
          TelemetryConfiguration__ServiceName: "Engine.ScanPreprocessor"
          TelemetryConfiguration__AspNetCoreInstrumentationEnabled: {{ $openTelemetryEnable }}
          TelemetryConfiguration__HttpClientInstrumentationEnabled: {{ $openTelemetryEnable }}
          TelemetryConfiguration__Otlp__Enabled: {{ $openTelemetryEnable }}
          TelemetryConfiguration__Console__Enabled: {{ $openTelemetryEnable }}

  - scaenginesbomreport:
      common:
        ascpNamespace: '{{ .Namespace | default .Values.environment.ascpNamespace }}'
        keda:
          enabled: {{ .Values.environment.autoscaling | default "false"}}
        scaserviceenv:
          TelemetryConfiguration__Enabled: {{ $openTelemetryEnable }}
          LoggingConfiguration__EnableOtlpLogging: {{ $openTelemetryEnableLogs }}
          TelemetryConfiguration__MetricsEnabled: {{ $openTelemetryEnableMetrics }}
          TelemetryConfiguration__Otlp__Endpoint: {{ $openTelemetryEndpoint }}
          TelemetryConfiguration__ServiceName: "Engine.SbomReport"
          TelemetryConfiguration__AspNetCoreInstrumentationEnabled: {{ $openTelemetryEnable }}
          TelemetryConfiguration__HttpClientInstrumentationEnabled: {{ $openTelemetryEnable }}
          TelemetryConfiguration__Otlp__Enabled: {{ $openTelemetryEnable }}
          TelemetryConfiguration__Console__Enabled: {{ $openTelemetryEnable }}

  - scaargorepository:
      common:
        scaservicesecrets:
          username: {{ env "SCA_AUTOUPDATER_REGISTRY_USERNAME" | default "" }}
          password: {{ env "SCA_AUTOUPDATER_REGISTRY_PASSWORD" | default "" }}
{{- if not (empty $helmRepoRegistry) }}
          url: '{{ env "SCA_AUTOUPDATER_REGISTRY_ADDRESS" | default .Values.global.workload.container.image.registry }}'
{{- else }}
          url: '{{ env "SCA_AUTOUPDATER_REGISTRY_ADDRESS" | default "" }}'
{{- end }}
  - scadprautoupdater:
      common:
        dockerPrivateRegistry:
          secret:
            enabled: true
            helmenabled: false
{{- if not (empty $helmRepoRegistry) }}
            server: '{{ env "SCA_AUTOUPDATER_REGISTRY_ADDRESS" | default .Values.global.workload.container.image.registry }}'
{{- else }}
            server: '{{ env "SCA_AUTOUPDATER_REGISTRY_ADDRESS" | default .Values.environment.dockerRegistryAddress }}'
{{- end }}

            username: '{{ env "SCA_AUTOUPDATER_REGISTRY_USERNAME" | default "" }}'
            password: '{{ env "SCA_AUTOUPDATER_REGISTRY_PASSWORD" | default "" }}'
            email: ""

  - scaargocveupdater:
      common:
{{- if not (empty $helmRepoRegistry) }}
        AutoUpdaterRegistryServer: '{{ env "SCA_AUTOUPDATER_REGISTRY_ADDRESS" | default .Values.global.workload.container.image.registry }}'
        RepoUrl: '{{ env "SCA_AUTOUPDATER_REGISTRY_ADDRESS" | default .Values.global.workload.container.image.registry }}'
{{- else }}
        AutoUpdaterRegistryServer: '{{ env "SCA_AUTOUPDATER_REGISTRY_ADDRESS" | default .Values.environment.dockerRegistryAddress }}'
        RepoUrl: {{ env "SCA_AUTOUPDATER_REGISTRY_ADDRESS" | default .Values.environment.dockerRegistryAddress }}
{{- end }}
{{- if not (empty $helmRepoContext) }}
        AutoUpdaterRegistryPath: '{{ .Values.global.workload.container.image.repository }}'
{{- else }}
        AutoUpdaterRegistryPath: '{{ .Values.environment.dockerRegistryContext }}'
{{- end }}

        namespace: '{{ .Namespace | default .Values.environment.releaseNamespace }}'
        AutoUpdaterHelmPath: '{{ .Values.environment.helmRepositoryContext }}'
        ArgoImageTag: "{{ .Values.environment.autoupdaterImageTag | default "newest-build-2.2.0" }}"
        replicaCount: "1"
        ResourcesLimitsMemory: "3Gi"
        ResourcesLimitsCpu: "2000m"
        ResourcesRequestsMemory: "2.5Gi"
        ResourcesRequestsCpu: "1500m"
        post_sync:
          enabled: true
          post_sync_job_name: "proactive-alert-postsync-trigger"
          pullSecrets:
            - name: sca-docker-registry-secret
          containers:
            - name: "proactive-curl-pod"
              image:
              {{- if not (empty $helmRepoContext) }}
                repository: '{{ .Values.global.workload.container.image.registry }}/{{ .Values.global.workload.container.image.repository }}/curl'
              {{- else }}
                repository: '{{ .Values.environment.dockerRegistryAddress }}/{{ .Values.environment.dockerRegistryContext }}/curl'
              {{- end }}
                tag: 8.14.1-p180-2
              cmd: ["curl"]
              args:
                - "-k"
                - "-v"
                - "-X"
                - "POST"
                - "http://engine-asocintegratorapi.{{ .Namespace | default .Values.environment.releaseNamespace }}.svc:18082/api/SecurityIssue/SendProactiveAlert"
                - "-H"
                - "accept: */*"
                - "-d"
                - "{}"
          backoffLimit: 2 



  - scaargolibraryupdater:
      common:
{{- if not (empty $helmRepoRegistry) }}
        AutoUpdaterRegistryServer: '{{ env "SCA_AUTOUPDATER_REGISTRY_ADDRESS" | default .Values.global.workload.container.image.registry }}'
        RepoUrl: '{{ env "SCA_AUTOUPDATER_REGISTRY_ADDRESS" | default .Values.global.workload.container.image.registry }}'
{{- else }}
        AutoUpdaterRegistryServer: '{{ env "SCA_AUTOUPDATER_REGISTRY_ADDRESS" | default .Values.environment.dockerRegistryAddress }}'
        RepoUrl: '{{ env "SCA_AUTOUPDATER_REGISTRY_ADDRESS" | default .Values.environment.dockerRegistryAddress }}'
{{- end }}
{{- if not (empty $helmRepoContext) }}
        AutoUpdaterRegistryPath: '{{ .Values.global.workload.container.image.repository }}'
{{- else }}
        AutoUpdaterRegistryPath: '{{ .Values.environment.dockerRegistryContext }}'
{{- end }}

        AutoUpdaterRegistrySecretName: sca-docker-registry-secret
        namespace: '{{ .Namespace | default .Values.environment.releaseNamespace }}'
        AutoUpdaterHelmPath: '{{ .Values.environment.helmRepositoryContext }}'
        ArgoImageTag: "{{ .Values.environment.autoupdaterImageTag | default "newest-build-2.2.0"}}" 
        replicaCount: "1"
        ResourcesLimitsMemory: "2Gi"
        ResourcesLimitsCpu: "1000m"
        ResourcesRequestsMemory: "700Mi"
        ResourcesRequestsCpu: "200m"
    
  - scacvesearchapi:
      common:
        workload:
          replicaCount: 1
          mainContainer:
            resources:
              limits:
                memory: 3Gi
                cpu: 2000m
              requests:
                memory: 2.5Gi
                cpu: 1500m
        keda:
          enabled: {{ .Values.environment.autoscaling | default "false"}}

  - scalibrarysearchapi:
      common:
        keda:
          enabled: {{ .Values.environment.autoscaling | default "false"}}

  - keda:
      enabled: {{ .Values.environment.autoscaling | default "false"}}
      image:
        keda:
{{- if not (empty $helmRepoRegistry) }}
          registry: {{ .Values.global.workload.container.image.registry }}/{{ .Values.global.workload.container.image.repository }}
{{- else }}
          registry: {{ .Values.environment.dockerRegistryAddress }}/{{ .Values.environment.dockerRegistryContext }}
{{- end }}
          repository: ghcr.io/kedacore/keda
          tag: "2.19.0"
        metricsApiServer:
{{- if not (empty $helmRepoRegistry) }}
          registry: {{ .Values.global.workload.container.image.registry }}/{{ .Values.global.workload.container.image.repository }}
{{- else }}
          registry: {{ .Values.environment.dockerRegistryAddress }}/{{ .Values.environment.dockerRegistryContext }}
{{- end }}
          repository: ghcr.io/kedacore/keda-metrics-apiserver
          tag: "2.19.0"
        webhooks:
{{- if not (empty $helmRepoRegistry) }}
          registry: {{ .Values.global.workload.container.image.registry }}/{{ .Values.global.workload.container.image.repository }}
{{- else }}
          registry: {{ .Values.environment.dockerRegistryAddress }}/{{ .Values.environment.dockerRegistryContext }}
{{- end }}
          repository: ghcr.io/kedacore/keda-admission-webhooks
          tag: "2.19.0"
      imagePullSecrets:
      - name: sca-docker-registry-secret