#
# Prerequisites:
#   (*) Clone the designated AS360 KNI git repository
#   (*) Ensure you are logged in the designated docker registry
#       (or define HCLCR_USERNAME and HCLCR_PASSWORD)
#   (*) Ensure you are running from a folder that contains the helmfile.d folder
#   (*) Place customization file under:
#       helmfile.d/helmFileCustomizations/singular-singular.clusterKit.yaml
#
# Usage:
#   (*) Install:   helmfile sync
#   (*) Uninstall: helmfile destroy
#   (*) Namespace control: helmfile -n <namespace> sync
#

environments:
  default:
    values:
      - helmFileCustomizations/singular-singular.clusterKit.yaml
      - global:
          multiTenantDeploymentDifferentiator: ""
          runtime:
            siteName: singular
            clusterName: singular
      - environment:
          helmRepositoryName: hclcr
          helmRepositoryContext: appscan360/as360-k8s-helm-packages
          releaseName: appscan360-ascp
          releaseNamespace: hcl-appscan-ascp
          dockerRegistryAddress: hclcr.io
          dockerRegistryContext: appscan360/as360-k8s-docker-images
          honorSideCarsDockerDirectives: false

---
helmDefaults:
  cleanupOnFail: true
  wait: true
  waitForJobs: true
  atomic: true
  timeout: 600
  createNamespace: true
  deleteWait: true

repositories:
  - name: hclcr
    url: hclcr.io
    oci: true

---

{{- $helmRepoRegistry := default "" -}}
{{- $helmRepoContext := default "" -}}

{{- if hasKey .Values.global "helm" }}
  {{- $helmRepoRegistry = .Values.global.helm.package.registry | default $helmRepoRegistry -}}
  {{- $helmRepoContext = .Values.global.helm.package.context | default $helmRepoContext -}}
{{- end }}

releases:
  - name: "{{ .Values.environment.releaseName }}"
    namespace: "{{ .Namespace | default .Values.environment.releaseNamespace }}"

{{- if not (empty $helmRepoRegistry) }}
    chart: oci://{{ $helmRepoRegistry }}/{{ $helmRepoContext }}/ascp-dart-prime
{{- else }}
    chart: "{{ .Values.environment.helmRepositoryName }}/{{ .Values.environment.helmRepositoryContext }}/ascp-dart-prime"
{{- end }}

    version: 2.2.0-rc.56-release-asop
    values:
      - helmFileCustomizations/{{ .Values.global.runtime.siteName }}-{{ .Values.global.runtime.clusterName }}.clusterKit.yaml
      - global:
          multiTenantDeploymentDifferentiator: {{ .Values.global.multiTenantDeploymentDifferentiator }}
          isOnPremisesDeployment: true
          isOnPremisesDeploymentViaKNI: true
          honorSideCarsContainerImageDirectivesAtRuntime: {{ .Values.environment.honorSideCarsDockerDirectives }}
          runtime:
            customerName: ASOP
            siteName: {{ .Values.global.runtime.siteName }}
            clusterName: {{ .Values.global.runtime.clusterName }}

          workload:
            container:
              image:
{{- if not (empty $helmRepoRegistry) }}
                registry: {{ .Values.global.workload.container.image.registry }}
                repository: {{ .Values.global.workload.container.image.repository }}
{{- else }}
                registry: {{ .Values.environment.dockerRegistryAddress }}
                repository: {{ .Values.environment.dockerRegistryContext }}
{{- end }}
                pullPolicy: IfNotPresent
                pullSecrets:
                  - ascp-docker-registry-secret

            dockerPrivateRegistry:
              secret:
                data:
{{- if env "AS360_KNI_JSON_CONFIG_AS_BASE64" }}
                  jsonConfigAsBase64: {{ env "AS360_KNI_JSON_CONFIG_AS_BASE64" }}
{{- else }}
                  jsonConfigAsBase64: {{ readFile (printf "%s/.docker/config.json" (env "HOME")) | b64enc }}
{{- end }}

          storage:
            pvc:
              linux:
                enabled: true
                accessMode: ReadWriteMany

  - name: reloader
    namespace: "{{ .Namespace | default .Values.environment.releaseNamespace }}"

{{- if not (empty $helmRepoRegistry) }}
    chart: oci://{{ $helmRepoRegistry }}/{{ $helmRepoContext }}/reloader
{{- else }}
    chart: "{{ .Values.environment.helmRepositoryName }}/{{ .Values.environment.helmRepositoryContext }}/reloader"
{{- end }}
    version: 1.2.1
    needs:
      - "{{ .Values.environment.releaseName }}"

    values:
      - global:
          imagePullSecrets:
            - name: ascp-docker-registry-secret

        reloader:
          watchGlobally: false
          deployment:
{{- if not (empty $helmRepoRegistry) }}
            image:
              name: "{{ .Values.global.workload.container.image.registry }}/{{ .Values.global.workload.container.image.repository }}/reloader"
              tag: v1.2.1
{{- else }}
            image:
              name: "{{ .Values.environment.dockerRegistryAddress }}/{{ .Values.environment.dockerRegistryContext }}/reloader"
              tag: v1.2.1
{{- end }}
            containerSecurityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true

        # Workaround for known chart issue
        nameOverride: reloader
        fullnameOverride: reloader