#
# Prerequisites:
#   (*) Clone the designated AS360 KNI git repository
#   (*) Ensure you are logged in the designated docker registry (e.g., via using the 'docker login' command),
#       or define 2 environment variables holding the registry credentials: HCLCR_USERNAME and HCLCR_PASSWORD
#
# Usage:
#   (*) Install: helmfile sync
#     Ensure one of the following:
#       1. Define an environment variable as follows:
#         Name: AS360_KNI_JSON_CONFIG_AS_BASE64
#         Value: The designated registry docker config file, encoded in Base64
#       2. Verify an already configured docker config file is residing under the home folder of the user (e.g., ~/.docker/config.json)
#   (*) Uninstall: helmfile destroy
#


environments:
  default:
    values:
    - global:
        version: 2.10.1-178GA
    - helmFileCustomizations/singular-singular.clusterKit.yaml
    - asraHelmRegistry: {{ env "ASRA_HELM_REG" | default "hclcr.io" }}
      asraHelmRepo: hcl_asra/{{ env "ASRA_HELM_REPO" | default "appscan360/as360-k8s-helm-packages" }}/asra
      asraImageRegistry: {{ env "ASRA_IMAGE_REG" | default "hclcr.io" }}
      asraImageRepo: {{ env "ASRA_IMAGE_REPO" | default "appscan360/as360-k8s-docker-images" }}/asra-img


---

repositories:
- name: hcl_asra
  url: hclcr.io
  oci: true

helmDefaults:
  atomic: true
  cleanupOnFail: false
  createNamespace: true
  deleteWait: true
  timeout: 600
  wait: true
  waitForJobs: true
 
{{- $helmRepoRegistry := default "" -}}
{{- $helmRepoContext := default "" -}}

{{- if hasKey .Values.global "helm" }}
  {{- $helmRepoRegistry = .Values.global.helm.package.registry | default $helmRepoRegistry -}}
  {{- $helmRepoContext = .Values.global.helm.package.context | default $helmRepoContext -}}
{{- end }}

releases:
- name: asra
  namespace: hcl-appscan-asra
{{- if not (empty $helmRepoRegistry) }}
  chart: oci://{{ $helmRepoRegistry }}/{{ $helmRepoContext }}/asra
{{- else }}
  chart: {{ .Values.asraHelmRepo }}
{{- end }}
  version: {{ .Values.global.version }}
  values:
  - image:
{{- if not (empty $helmRepoRegistry) }}
     registry: {{ .Values.global.workload.container.image.registry }}
     repository: {{ .Values.global.workload.container.image.repository }}/asra-img
{{- else }}
     registry: {{ .Values.asraImageRegistry }}
     repository: {{ .Values.asraImageRepo }}
{{- end }}
     asraImagePullSecret:
{{- if env "AS360_KNI_JSON_CONFIG_AS_BASE64" }}
              {{ env "AS360_KNI_JSON_CONFIG_AS_BASE64" }}
{{- else }}
              {{ ((readFile (printf "%s/%s" (env "HOME") ".docker/config.json")) | b64enc) }}
{{- end }}
